Manipulation et analyse de données : 
- pandas
- numpy


Modèle de langage protéique (ESM-2 par Meta) : 
- fair-esm

Deep Learning et calculs sur tenseurs (support natif CPU, CUDA, et MPS pour Apple Silicon) : 
- torch

Machine Learning classique (SVR, StandardScaler):
- scikit-learn
